################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CG/CG2019/build
/.vs/GO/v16/.suo
/.vs/GO/v16/Browse.VC.db
/.vs/CMake Overview
/.vs
/CG/CG2019/out/build/x64-Debug (default)/.cmake/api/v1/query/client-MicrosoftVS/query.json
/CG/CG2019/out/build/x64-Debug (default)/CMakeFiles/3.18.20081302-MSVC_2/CompilerIdC
/CG/CG2019/out/build/x64-Debug (default)/CMakeFiles/3.18.20081302-MSVC_2/CompilerIdCXX
/CG/CG2019/out/build/x64-Debug (default)/CMakeFiles/3.18.20081302-MSVC_2
/CG/CG2019/out/build/x64-Debug (default)/CMakeFiles/ShowIncludes
/CG/CG2019/out/build/x64-Debug (default)
/CG/CG2019/res
/CG/CG2019/terminal
/CG/CG2019/visual/.vs/visual
/CG/CG2019/visual/visual
/CG/CG2019/CMakeLists.txt
/CG/CG2019/README.md
